<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.vTiger.testscripts.DeleteAllOrganizatioTest"/>
      <class name="com.vTiger.testscripts.CreateVendorTest"/>
      <class name="com.vTiger.testscripts.DeleteVendorTest"/>
      <class name="com.vTiger.testscripts.DeleteLeadTest"/>
      <class name="com.vTiger.testscripts.CreateLeadTest"/>
      <class name="com.vTiger.testscripts.DeleteAllContactTest"/>
      <class name="com.vTiger.testscripts.CreateContactTest"/>
      <class name="com.vTiger.testscripts.CreateOppertunityTest"/>
      <class name="com.vTiger.testscripts.CreateOrganizationTest"/>
      <class name="com.vTiger.testscripts.CreateProductTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
